.header_icon img{
    margin-top: 0.35rem;
    height: 50px;
}
.header_title p{
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 1.12rem;
}
ion-footer ion-button.f_b{
    margin-left: 5rem;
}
ion-footer ion-button{
    // background-color: red;
    margin-left: 2.5rem;
}