<ion-header>
  </ion-header>
  
  <ion-content>
     <!-- เตรียมอนุบาล -->
    <ion-card>
    <ion-card color="primary">
          <ion-grid>
            <ion-row justify-content-center align-items-end style="height:100%">
                <ion-label><b style="font-size: medium;">ระดับชั้นเตรียมอนุบาล</b></ion-label>
            </ion-row>
          </ion-grid>
        </ion-card>
      <ion-card-content>
        <ion-item>
            <ion-label>วันที่เปิดรับสมัครเรียน </ion-label>
            <ion-label> 12/10/62 </ion-label>
          </ion-item><br>
        <ion-item>
            <ion-label>วันที่ปิดรับสมัครเรียน</ion-label>
            <ion-label> 12/11/62 </ion-label>
          </ion-item>
      </ion-card-content>
    <h3 style="text-align: center;">หลักสูตรที่เปิดรับ</h3>
    <ion-item>
        <ion-label floating>ภาษาไทย</ion-label>
        <div align="center" >
        <ion-label floating>50 </ion-label>
        </div>
        <ion-grid>
          <ion-row justify-content-center align-items-end style="height:100%">
            <ion-col col-12> </ion-col>
            <ion-col col-12>
              <ion-label floating>คน</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        
  
      </ion-item>
      <ion-item>
          <ion-label floating>ภาษาอังกฤษ</ion-label>
          <div align="center" >
            <ion-label floating>30 </ion-label>
            </div>
            <ion-grid>
              <ion-row justify-content-center align-items-end style="height:100%">
                <ion-col col-12> </ion-col>
                <ion-col col-12>
                  <ion-label floating>คน</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>
  
        <ion-item>
        <ion-label floating>สองภาษา (ไทย+อังกฤษ)</ion-label>
        <div align="center" >
        <ion-label floating> 20 </ion-label>
        </div>
        <ion-grid>
          <ion-row justify-content-center align-items-end style="height:100%">
            <ion-col col-12> </ion-col>
            <ion-col col-12>
              <ion-label floating>คน</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  
      <ion-item>
          <ion-label floating>จำนวนที่เปิดรับสมัคร</ion-label>
          <div align="center" >
            <ion-label floating>100 </ion-label>
            </div>
            <ion-grid>
              <ion-row justify-content-center align-items-end style="height:100%">
                <ion-col col-12> </ion-col>
                <ion-col col-12>
                  <ion-label floating>คน</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>
  
        <ion-item>
            <ion-grid>
              <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-button type="submit" name="button" id="button" size="Default" color="warning" routerLink="/filter">แก้ไข</ion-button>
                </ion-row>
            </ion-grid>
          </ion-item>
    </ion-card>
  <!-- อนุบาล --> 
    <ion-card>
      <ion-card color="primary">
            <ion-grid>
              <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-label><b style="font-size: medium;">ระดับชั้นอนุบาล</b></ion-label>
              </ion-row>
            </ion-grid>
          </ion-card>
        <ion-card-content>
          <ion-item>
              <ion-label>วันที่เปิดรับสมัครเรียน </ion-label>
              <ion-label> 12/10/62 </ion-label>
            </ion-item><br>
          <ion-item>
              <ion-label>วันที่ปิดรับสมัครเรียน</ion-label>
              <ion-label> 12/11/62 </ion-label>
            </ion-item>
        </ion-card-content>
      <h3 style="text-align: center;">หลักสูตรที่เปิดรับ</h3>
      <ion-item>
          <ion-label floating>ภาษาไทย</ion-label>
          <div align="center" >
          <ion-label floating>50 </ion-label>
          </div>
          <ion-grid>
            <ion-row justify-content-center align-items-end style="height:100%">
              <ion-col col-12> </ion-col>
              <ion-col col-12>
                <ion-label floating>คน</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
          
    
        </ion-item>
        <ion-item>
            <ion-label floating>ภาษาอังกฤษ</ion-label>
            <div align="center" >
              <ion-label floating>20 </ion-label>
              </div>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-col col-12> </ion-col>
                  <ion-col col-12>
                    <ion-label floating>คน</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
    
          <ion-item>
          <ion-label floating>สองภาษา (ไทย+อังกฤษ)</ion-label>
          <div align="center" >
          <ion-label floating> 20 </ion-label>
          </div>
          <ion-grid>
            <ion-row justify-content-center align-items-end style="height:100%">
              <ion-col col-12> </ion-col>
              <ion-col col-12>
                <ion-label floating>คน</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item>
            <ion-label floating>จำนวนที่เปิดรับสมัคร</ion-label>
            <div align="center" >
              <ion-label floating>90 </ion-label>
              </div>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-col col-12> </ion-col>
                  <ion-col col-12>
                    <ion-label floating>คน</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
    
          <ion-item>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                    <ion-button type="submit" name="button" id="button" size="Default" color="warning" routerLink="/filter">แก้ไข</ion-button>
                  </ion-row>
              </ion-grid>
            </ion-item>
      </ion-card>
  
      <!-- ประถมศึกษา --> 
    <ion-card>
      <ion-card color="primary">
            <ion-grid>
              <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-label><b style="font-size: medium;">ระดับชั้นประถมศึกษา</b></ion-label>
              </ion-row>
            </ion-grid>
          </ion-card>
        <ion-card-content>
          <ion-item>
              <ion-label>วันที่เปิดรับสมัครเรียน </ion-label>
              <ion-label> 12/10/62 </ion-label>
            </ion-item><br>
          <ion-item>
              <ion-label>วันที่ปิดรับสมัครเรียน</ion-label>
              <ion-label> 12/11/62 </ion-label>
            </ion-item>
        </ion-card-content>
      <h3 style="text-align: center;">หลักสูตรที่เปิดรับ</h3>
      <ion-item>
          <ion-label floating>ภาษาไทย</ion-label>
          <div align="center" >
          <ion-label floating>20 </ion-label>
          </div>
          <ion-grid>
            <ion-row justify-content-center align-items-end style="height:100%">
              <ion-col col-12> </ion-col>
              <ion-col col-12>
                <ion-label floating>คน</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
          
    
        </ion-item>
        <ion-item>
            <ion-label floating>ภาษาอังกฤษ</ion-label>
            <div align="center" >
              <ion-label floating>30 </ion-label>
              </div>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-col col-12> </ion-col>
                  <ion-col col-12>
                    <ion-label floating>คน</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
    
          <ion-item>
          <ion-label floating>สองภาษา (ไทย+อังกฤษ)</ion-label>
          <div align="center" >
          <ion-label floating> 20 </ion-label>
          </div>
          <ion-grid>
            <ion-row justify-content-center align-items-end style="height:100%">
              <ion-col col-12> </ion-col>
              <ion-col col-12>
                <ion-label floating>คน</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item>
            <ion-label floating>จำนวนที่เปิดรับสมัคร</ion-label>
            <div align="center" >
              <ion-label floating>70 </ion-label>
              </div>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-col col-12> </ion-col>
                  <ion-col col-12>
                    <ion-label floating>คน</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
    
          <ion-item>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                    <ion-button type="submit" name="button" id="button" size="Default" color="warning" routerLink="/filter">แก้ไข</ion-button>
                  </ion-row>
              </ion-grid>
            </ion-item>
      </ion-card>
  </ion-content>