<ion-header>
</ion-header>
<ion-content>
  <ion-card>
  <ion-card color="primary">
        <ion-grid>
          <ion-row justify-content-center align-items-end style="height:100%">
              <ion-label><b style="font-size: medium;">ระดับชั้นเตรียมอนุบาล</b></ion-label>
          </ion-row>
        </ion-grid>
      </ion-card>
    <ion-card-content>
      <ion-item>
          <ion-label>วันที่เปิดรับสมัครเรียน</ion-label>
          <div class="input-group date" data-provide="datepicker">
            <input type="date" class="form-control">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </ion-item><br>
      <ion-item>
          <ion-label>วันที่ปิดรับสมัครเรียน</ion-label>
          <div class="input-group date" data-provide="datepicker">
            <input type="date" class="form-control">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </ion-item>
    </ion-card-content>
  <h3 style="text-align: center;">หลักสูตรที่เปิดรับ</h3>
  <ion-item>
      <ion-label floating>ภาษาไทย</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label floating>คน</ion-label>
    </ion-item>
    <ion-item>
        <ion-label floating>ภาษาอังกฤษ</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label floating>คน</ion-label>
      </ion-item>
      <ion-item>
      <ion-label floating>สองภาษา (ไทย+อังกฤษ)</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label floating>คน</ion-label>
    </ion-item>
    <ion-item>
        <ion-label floating>จำนวนที่เปิดรับสมัคร</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label floating>คน</ion-label>
      </ion-item>
      <ion-item>
          <ion-grid>
            <ion-row justify-content-center align-items-end style="height:100%">
                <ion-button type="submit" name="button" id="button" size="Default" color="success" routerLink="/setting">บันทึก</ion-button>
              </ion-row>
          </ion-grid>
        </ion-item>
  </ion-card>
  <ion-card>
      <ion-card color="primary">
            <ion-grid>
              <ion-row justify-content-center align-items-end style="height:100%">
                  <ion-label><b style="font-size: medium;">ระดับชั้นอนุบาล</b></ion-label>
              </ion-row>
            </ion-grid>
          </ion-card>
        <ion-card-content>
          <ion-item>
              <ion-label>วันที่เปิดรับสมัครเรียน</ion-label>
              <div class="input-group date" data-provide="datepicker">
                <input type="date" class="form-control">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </ion-item><br>
          <ion-item>
              <ion-label>วันที่ปิดรับสมัครเรียน</ion-label>
              <div class="input-group date" data-provide="datepicker">
                <input type="date" class="form-control">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </ion-item>
        </ion-card-content>
      <h3 style="text-align: center;">หลักสูตรที่เปิดรับ</h3>
      <ion-item>
          <ion-label floating>ภาษาไทย</ion-label>
          <ion-input type="text"></ion-input>
          <ion-label floating>คน</ion-label>
        </ion-item>
        <ion-item>
            <ion-label floating>ภาษาอังกฤษ</ion-label>
            <ion-input type="text"></ion-input>
            <ion-label floating>คน</ion-label>
          </ion-item>
          <ion-item>
          <ion-label floating>สองภาษา (ไทย+อังกฤษ)</ion-label>
          <ion-input type="text"></ion-input>
          <ion-label floating>คน</ion-label>
        </ion-item>
        <ion-item>
            <ion-label floating>จำนวนที่เปิดรับสมัคร</ion-label>
            <ion-input type="text"></ion-input>
            <ion-label floating>คน</ion-label>
          </ion-item>
          <ion-item>
              <ion-grid>
                <ion-row justify-content-center align-items-end style="height:100%">
                    <ion-button type="submit" name="button" id="button" size="Default" color="success" routerLink="/setting">บันทึก</ion-button>
                  </ion-row>
              </ion-grid>
            </ion-item>
      </ion-card>
      <ion-card>
          <ion-card color="primary">
                <ion-grid>
                  <ion-row justify-content-center align-items-end style="height:100%">
                      <ion-label><b style="font-size: medium;">ระดับชั้นประถม</b></ion-label>
                  </ion-row>
                </ion-grid>
              </ion-card>
            <ion-card-content>
              <ion-item>
                  <ion-label>วันที่เปิดรับสมัครเรียน</ion-label>
                  <div class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </ion-item><br>
              <ion-item>
                  <ion-label>วันที่ปิดรับสมัครเรียน</ion-label>
                  <div class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </ion-item>
            </ion-card-content>
          <h3 style="text-align: center;">หลักสูตรที่เปิดรับ</h3>
          <ion-item>
              <ion-label floating>ภาษาไทย</ion-label>
              <ion-input type="text"></ion-input>
              <ion-label floating>คน</ion-label>
            </ion-item>
            <ion-item>
                <ion-label floating>ภาษาอังกฤษ</ion-label>
                <ion-input type="text"></ion-input>
                <ion-label floating>คน</ion-label>
              </ion-item>
              <ion-item>
              <ion-label floating>สองภาษา (ไทย+อังกฤษ)</ion-label>
              <ion-input type="text"></ion-input>
              <ion-label floating>คน</ion-label>
            </ion-item>
            <ion-item>
                <ion-label floating>จำนวนที่เปิดรับสมัคร</ion-label>
                <ion-input type="text"></ion-input>
                <ion-label floating>คน</ion-label>
              </ion-item>
              <ion-item>
                  <ion-grid>
                    <ion-row justify-content-center align-items-end style="height:100%">
                        <ion-button type="submit" name="button" id="button" size="Default" color="success" routerLink="/setting">บันทึก</ion-button>
                      </ion-row>
                  </ion-grid>
                </ion-item>
          </ion-card>
</ion-content>